.fmatchDetails_wrapper {
  background-color: var(--optional-color);
  min-height: 100vh;
}

.scoreBoard_section {
  background-color: var(--secondary-color);
}
.scoreBoard_section:hover {
  background-color: #09386e;
}

/* info */

.info_p:hover {
  background-color: #14457c;
  cursor: pointer;
}
/* .rowStyle{
  background-color: #14457c;
} */
