.latestNews_wrapper {
  padding: 2vh 0;
  /* width: 90%; */
  /* background-color: black; */
}
.latestNews_wrapper h2 {
  border-bottom: 2px solid var(--primary-color);
  
}

.img_overlay {
  top: unset;
  background-color: rgba(0, 0, 0, 0.349);
  transition: all 0.2s ease-in-out;
}
.img_overlay:hover {
  background-color: rgba(0, 0, 0, 0.486);
}

.card_title {
  transition: all 0.2s ease-in-out;
}
.card_title:hover {
  cursor: pointer;
  text-decoration: underline;
}
