.newsWrapper {
  min-height: 100vh;
  background-color: var(--optional-color);
}
.newsDetails_wrapper {
  background-color: var(--optional-color);
  min-height: 100vh;
}

.news_body {
  background-color: var(--secondary-color);
  color: rgb(212, 212, 212);
}

/* Featured news */
.img_overlay {
  top: unset;
  background-color: rgba(0, 0, 0, 0.185);
  transition: all 0.2s ease-in-out;
}
.img_overlay:hover {
  background-color: rgba(0, 0, 0, 0.486);
}

.card_title {
  transition: all 0.2s ease-in-out;
}
.card_title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.newsNav_link {
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-color) !important;
  padding: 5px 15px;
  margin: 0px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
/* .dateNav_link:hover{
    background-color: var(--secondary-color);
    color: var(--optional-color);
} */
.active {
  background-color: var(--primary-color) !important;
  color: var(--optional-color) !important;
  font-weight: bold;
}


.single_card_wrapper {
  background-color: var(--secondary-color) !important;
  transition: all 0.3s ease-in-out;
}

.single_card_wrapper:hover {
  background-color: #1a4b83 !important;
  cursor: pointer;
}

/* Category news details */

.category_news_details_wrapper {
  background-color: var(--optional-color);
  min-height: 100vh;
}


.categoryNews_title:hover{
  text-decoration: underline;
}

.viewIcon{
  font-size: 16px;
  color: white;
}

/* responsive */
@media (max-width: 575.98px) {
  .other,
  .champ,
  .transfer,.world {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .other,
  .champ {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .other,
  .transfer {
    display: none;
  }
}

