.sidebar_bg {
  /* background: rgb(14, 14, 14); */
  background-color:var(--optional-color) ;
  /* background: linear-gradient(
    270deg,
    rgba(14, 14, 14, 0.7903536414565826) 13%,
    rgba(0, 0, 0, 0.7903536414565826) 53%
  ); */
  /*  background-image: url("../../../../assets/sidebar_news.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
.wrapper {
  background-color: var(--optional-color);
  /* background-color: #111111; */
}

.singleMatch_container {
  border: 0x;
}
.singleMatch_container:hover {
  border: 1px solid read;
}

