.dateNav_link {
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-color) !important;
  padding: 5px 15px;
  margin: 0px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
/* .dateNav_link:hover{
    background-color: var(--secondary-color);
    color: var(--optional-color);
} */
.active {
  background-color: var(--primary-color) !important;
  color: var(--optional-color) !important;
  font-weight: bold;
}

.calendar_btn {
  cursor: pointer;
}

/* responsive */
@media (max-width: 575.98px) {
  .nav_DAY1,
  .nav_DAY4,
  .nav_DAY5 {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .nav_DAY1,
  .nav_DAY5 {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav_DAY1,
  .nav_DAY5 {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .nav_DAY1,
  .nav_DAY5 {
    display: none;
  }
}