/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  
  /* d0efff */
  /* --primary-color: #fd2626; */
  --primary-color: #d0efff;
  /* --secondary-color: #fff; */
  --secondary-color:#09386e;
  /* --optional-color: black; */
  --optional-color: #03254c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  color: var(--primary-color);
}
p,
span {
  font-family: "Roboto", sans-serif;
}
hr{
  margin: 0px !important;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Running match tabs */

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--secondary-color) !important;
  background-color: var(--primary-color);
  border-color: var(--bs-nav-tabs-link-active-border-color);
}

tr:hover{
  background-color: var(--secondary-color);
}


/* X-Small devices (portrait phones, less than 576px)  */
@media (max-width: 575.98px) {
   
}
/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}
/* Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}

/* // XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width */
@media (min-width: 1400px)  {
    
} 