.CmatchDetails_wrapper {
  background-color: var(--optional-color);
  min-height: 100vh;
}
.sidebar_bg {
  background: rgb(14, 14, 14);
  background: linear-gradient(
    270deg,
    rgba(14, 14, 14, 0.7903536414565826) 13%,
    rgba(0, 0, 0, 0.7903536414565826) 53%
  );
}


/* info */

.info_p:hover{
  background-color: #222222;
  cursor:pointer
}

 
/* .dateNav_link:hover{
    background-color: var(--secondary-color);
    color: var(--optional-color);
} */
.active{
    background-color: var(--secondary-color) !important;
    color: var(--optional-color) !important;
    font-weight: bold;
}
.info_p:hover {
  background-color: #14457c;
  cursor: pointer;
}

.teamNav_link {
  text-decoration: none;
  font-size: 16px;
  color: var(--primary-color) !important;
  padding: 5px 15px;
  margin: 0px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
/* .dateNav_link:hover{
    background-color: var(--secondary-color);
    color: var(--optional-color);
} */
.active {
  background-color: var(--primary-color) !important;
  color: var(--optional-color) !important;
  font-weight: bold;
}
