.sidebar_bg {
  background-color: var(--optional-color);
 /* background: rgb(14,14,14);
background: linear-gradient(270deg, rgba(14,14,14,0.7903536414565826) 13%, rgba(0,0,0,0.7903536414565826) 53%); */
/*   background-image: url("../../../../assets/sidebar_news.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

.text_span{
  color: var(--primary-color);
}
.wrapper {
  background-color: var(--optional-color);
}
.accordion_item {
  color: gray !important;
  background-color: var(--optional-color) !important;
  border: 1px solid rgba(114, 114, 114, 0.377);
}
.accordion_header button {
  background-color: var(--optional-color) !important;
}

.singleMatch_wrapper {
  background-color: var(--secondary-color);
  /* border: 0px solid red; */
}
.singleMatch_wrapper {
  transition: all 0.3s ease-in-out;
}
.singleMatch_wrapper:hover {
  background-color: #1a4b83;
  /* background-color: #ff0101; */
  cursor: pointer;
  /* border: 1px solid red; */
}

@media (max-width: 575.98px) {
  .ScoreBoardSpace {
    display: none !important;
  }
}
